{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Create memory</title>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=580fbb2a-1cef-444f-9c5d-16fd5fda48aa"
            type="text/javascript"></script>
    <script src="{% static 'js/map.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% include 'parts/header.html' %}

<div style="width: 70%; height: 60%; margin: 0 auto" id="map"></div>
<div class="container">
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Add">
        </form>
    </div>
</div>
{% include 'parts/footer.html' %}
</body>
</html>