{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>My place</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=580fbb2a-1cef-444f-9c5d-16fd5fda48aa"
            type="text/javascript"></script>

    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

{% include 'parts/header.html' %}
<div class="container">
    <div class="push"></div>

    <div class="text-desc">

        <h1 id="place-name" class="text-center">{{ place.name }}</h1>
        <div class="d-flex justify-content-between">
            <span>{{ place.updated_at|date:"d E Y, H:i" }}</span>
            <span class="ago">{{ place.updated_at|timesince }} ago</span>
        </div>
        <div class="text-small">
            <span id="x">{{ place.latitude }}</span>, <span id="y">{{ place.longitude }}</span>
        </div>
        <hr>
        <div style="min-height: 255px">
            <div style="width: 300px; height: 250px;" id="map-show-place"></div>
            <div class="impressions">{{ place.description|linebreaksbr }}</div>
            <br>
        </div>
        <hr>
        <a href="{% url 'memories:memories' %}">Go to all places</a>
    </div>
    <script type="text/javascript" src="{% static 'js/show-place.js' %}"></script>
    <div class="push"></div>
</div>
{% include 'parts/footer.html' %}
</body>
</html>
