{% extends 'base.html' %}

{% block title %}
    My sweet memories
{% endblock %}

{% block content %}
    <h3 class="custom-header">My sweet memories</h3>
    <hr>
    <a class="custom-link text-white" href="{% url 'memories:map' %}">
        <button class="btn btn-primary">Add new place</button>
    </a>
    <div class="page-block">
    <span>
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        <span class="pagination">
    {% if page_obj.has_previous %}
        <li class="page-item">
        <a class="page-link" href="?page=1">&laquo; FIRST</a>
        </li>

        <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">PREVIOUS</a>
        </li>
    {% endif %}

            {% if page_obj.has_next %}
                <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">NEXT</a>
            </li>

                <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">LAST &raquo;</a>
            </li>
            {% endif %}
    </span>
    </div>

    {% for place in page_obj %}
        <ul>
            <li>
                <div class="d-flex justify-content-between">
                    <a href="{{ place.get_absolute_url }}">{{ place.name }}</a>
                    <div class="d-flex justify-content-between">
                        <span class="created">{{ place.created_at }}</span>
                        <form action="{% url 'memories:delete' place.id %}" method="post">
                            {% csrf_token %}
                            <input class="btn btn-danger" type="submit"
                                   onclick="return confirm('Are you sure you want to delete this place?')"
                                   value="Delete">
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    {% empty %}
        <div>
            <h4 class="text-center">
                You do not have any places yet...
                <br>
                <span style="font-size: 14px; color: #938d8d">Click the button at the top left</span>
            </h4>
        </div>
    {% endfor %}
    <hr>
{% endblock %}