{% extends 'base.html' %}

{% block title %}
    My sweet memories
{% endblock %}

{% block content %}
    <hr>
    <h3>My sweet memories</h3>
    User {{ user }}
    <ul>
        {% for place in places %}
            <li>
                <a href="{{ place.get_absolute_url }}">{{ place.name }}</a>
            </li>
        {% empty %}
            You do not have any places yet
            <div>
                <button><a href="#">Add?</a></button>
            </div>
        {% endfor %}
    </ul>
    <hr>
{% endblock %}