{% extends 'base.html' %}

{% block title %}
    My places
{% endblock %}

{% block content %}
    <h1>Hello, {{ user.username }}</h1>

    {{ place.name }} <br>
    {{ place.created_at }} <br>
    {{ place.description }} <br>

    <hr>
    {% for obj in backends.associated %}
        {% if obj.provider == 'facebook' %}
            <div class="col-md-6 text-center">
                <img src="{{ obj.extra_data.picture.data.url }}" alt="" width="150" height="150"
                     style="border-radius: 50%">
            </div>
            <div class="col-md-6 social-container my-2"><p> Signed in via: {{ obj.provider }} </p>
                <p> Name: {{ obj.extra_data.name }} </p>
                <p> Provider url: <a href="{{ obj.extra_data.profile_url }}">link</a></p>
            </div>
        {% endif %}
    {% endfor %}
    <div class="col-sm-12 mt-2 text-center">
        <button class="btn btn-danger">
            <a href="{% url 'memories:logout' %}">Logout</a>
        </button>
    </div>
    <hr>


{% endblock %}