body, html {
    width: 100%;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

.footer,
.push {
    height: 50px;
}

footer {
    background-color: #10104c;
    padding: 40px 0 70px 0;
    border-top: 0 solid black;
    box-shadow: 2px 2px 20px 5px #938d8d;
}

.header {
    background-color: #10104c;
    color: white;
}

.github-link > a {
    color: white;
}

.fb {
    width: 120px;
    margin: 20px auto;
}

.fb-link {
    color: white;
}

.fb-text {
    font-size: 14px;
    color: #938d8d;
}

.fb-btn {
    background-color: #10104c;
}

.fb-btn > a:hover {
    color: white;
}

.header-links {
    color: white;
}

.header-links:hover {
    color: #e8e5e5;
}

.my-img {
    box-shadow: -10px -5px 20px 1px #dbd5d5;
}

#map {
    box-shadow: 2px -10px 20px 5px #e2dede;
}

.logout-button {
    color: black;
    background-color: white;
    border-radius: 3px;
    font-size: 14px;
}

.logout-button > a {
    color: black;
}

.logout-button > a:hover {
    color: black;
}

.header-span {
    margin-left: 10px;
}

.custom-link:hover {
    text-decoration: none;
}

.text-small{
    color: #a7a0a0;
    font-size: 10px;
}

.text-desc{
    border: 1px solid #e8e1e1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px #d9d9d9;
}