{% load static %}
<nav class="navbar navbar-expand-lg header">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link header-links mob-link-left" href="{% url 'memories:home' %}">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link header-links mob-link-left" href="{% url 'memories:memories' %}">My memories</a>
                </li>
            {% endif %}
        </ul>
        {% if user.is_authenticated %}

            {% if user.first_name %}
                <span class="header-span mob-link-right">
                <a class="header-links" href="{% url '' %}">{{ user.first_name }}</a>
                </span>
            {% else %}
                <span class="header-span mob-link-right">
                <a class="header-links" href="{% url '' %}">{{ user.username }}</a>
                </span>
            {% endif %}

            <span class="header-span">
                {% for obj in backends.associated %}
                    {% if obj.provider == 'facebook' %}
                        <div class="col-md-6 text-center">
                        <img class="mob-link-right" src="{{ obj.extra_data.picture.data.url }}" alt="picture"
                             width="40px" height="40px"
                             style="border-radius: 50%">
                    </div>
                    {% endif %}
                {% empty %}
                    <img class="mob-link-right" src="{% static 'images/map.png' %}" alt="picture" width="40px"
                         height="40px"
                         style="border-radius: 50%">
                {% endfor %}
            </span>
            <span class="logout-button header-span mob-link-right">
                    <a class="nav-link header-links" href="{% url 'memories:logout' %}">Sign out</a>
                </span>
        {% else %}
            <span class=" header-span mob-link-right">
            <a class="nav-link header-links" href="{% url 'memories:login' %}">Sign in</a>
            </span>

            <span class="logout-button header-span mob-link-right">
            <a class="nav-link header-links" href="{% url 'memories:registration' %}">Sign up</a>
            </span>
        {% endif %}
        <div class="push"></div>
    </div>
</nav>
