{% extends 'base.html' %}
{% block title %}
    Change password
{% endblock %}

{% block content %}

    <h1>Change your password</h1>
    <div>
        <form method="post">
            {% csrf_token %}
            <div>
                <p>Please enter your old password, for security’s sake, and then enter your new password twice so we can
                    verify you typed it in correctly.</p>

                <div class="form-group">
                    <label for="id_old_password">Old password:</label>
                    <input class="form-control col-md-4" type="password" name="old_password"
                           autocomplete="current-password" autofocus
                           required
                           id="id_old_password">
                </div>
                <div class="form-group">
                    <label for="id_new_password1">New password:</label>
                    <input class="form-control col-md-4" type="password" name="new_password1"
                           autocomplete="new-password" required
                           id="id_new_password1">
                </div>

                <div class="form-group">
                    <label for="id_new_password2">New password confirmation:</label>
                    <input class="form-control col-md-4" type="password"
                           name="new_password2"
                           autocomplete="new-password"
                           required
                           id="id_new_password2">
                </div>

                <div class="help">
                    <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul>
                </div>

                <div class="form-group">
                    <input type="submit" value="Change my password" class="btn btn-warning">
                </div>

            </div>
        </form>
    </div>
{% endblock %}
