{% extends 'base.html' %}

{% block title %}
    Set new password
{% endblock %}

{% block content %}

    <h1 class="mb-5">Input your new password</h1>

    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}

        <div>
            {% for field in form %}
                {% if field.errors %}
                    <div class="alert alert-danger col-md-4">
                        {{ field.errors }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="form-group">
            New password
            <input class="form-control col-md-4" type="password" name="new_password1"
                   autocomplete="new-password"
                   required id="id_new_password1">
        </div>

        <div class="form-group">
            New password confirmation
            <input class="form-control col-md-4" type="password" name="new_password2"
                   autocomplete="new-password"
                   required id="id_new_password2">
        </div>

        <button type="submit" class="btn btn-primary">Reset password</button>
    </form>
{% endblock %}